		body {
		background-color:yellow;
		font-family:sans-serif;
		}
		
		
		div{
			padding-bottom:10px
		}

		.fila {
			display: table-row; 
		}
		.bloque {
			display: table-cell;
			
		}
		.tabla{
			display: table
		}

		img{
			width: 200px;
			height: 200px;
		}